    <nav class="navigation" id="header">
        <ul class="nav-container">
          <li class="nav-home nav-li-item">
            <a class="nav-item button-item" href="/">Barnacle Blog</a>
          </li>
          <li class="nav-li-item">
            <a class="nav-item button-item" href="/login">Login</a>
          </li>
          <li class="nav-li-item">
            <a class="nav-item button-item" href="/register">Register</a>
          </li>
          <li class="nav-li-item">
            <a class="nav-item button-item" href="/login">All Blogs</a>
          </li>
        </ul>
      </nav>