<div class="content">
    <div class="title">Posts</div>
    <app-posts-card username="Peter" postLink="/" category="Category" title="Title"></app-posts-card>
    <br/>
    <div class="separator"></div>
    <br/>
    <app-posts-card username="Peter4" postLink="/" category="Category" title="Title"></app-posts-card>
    <br/>
    <div class="separator"></div>
    <br/>
    <app-posts-card username="Peter3" postLink="/" category="Category" title="Title"></app-posts-card>
    <br/>
    <div class="separator"></div>
    <br/>
    <app-posts-card username="Peter2" postLink="/" category="Category" title="Title"></app-posts-card>
</div>
