<div class="content">
   <div class="error-text">{{error}}</div>
   <table>
      <tr>
          <th class="table-number">
             № 
          </th>
          <th class="table-username">
              Username
           </th>
           <th class="table-banned">
              Banned
           </th>
           <th class="table-buttons">
              (buttons)
           </th>
      </tr>
      <tr *ngFor="let user of users$ | async; index as i">
          <td>
             {{i}} 
          </td>
          <td>
              {{user.username}}
           </td>
           <td>
              <!-- <a href="https://www.flaticon.com/free-icons/{{user.isBanned ? 'delete' : 'tick'}}" title="delete icons">Delete icons created by Pixel perfect - Flaticon</a> -->
              {{user.isBanned ? 'Yup' : 'Nope'}}
          </td>
           <td>
              <a (click)="banUser(user._id)" *ngIf="!user.isBanned" class="button-item delete-button">Ban</a>
              <a (click)="unbanUser(user._id)" *ngIf="user.isBanned" class="button-item delete-button">Unban</a>
              <!-- <a (click)="deletePost()" *ngIf="isOwner" class="button-item delete-button">Delete</a> -->
           </td>
      </tr>
  </table>
</div>