<div class="content">
   <div class="error-text">{{error}}</div>
   <table>
      <tr>
          <th class="table-number">
             № 
          </th>
          <th class="table-username">
              Username
           </th>
           <th class="table-banned">
              Banned
           </th>
           <th class="table-buttons">
              (buttons)
           </th>
      </tr>
      <tr *ngFor="let user of users$ | async; index as i">
          <td>
             {{i}} 
          </td>
          <td>
              {{user.username}}
           </td>
           <td>
            <div class="{{user.isBanned ? 'banned' : 'not-banned' }}">
               {{user.isBanned ? 'Yup' : 'Nope'}}
            </div>
          </td>
           <td>
              <a (click)="banUser(user._id)" *ngIf="!user.isBanned" class="button-item delete-button">Ban</a>
              <a (click)="unbanUser(user._id)" *ngIf="user.isBanned" class="button-item delete-button">Unban</a>
           </td>
      </tr>
  </table>
</div>