.form-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 5px;
    width: 100%;
}

.error-text {
    color: rgb(255, 0, 0);
    font-size: 30px;
}
.form-label {
    display: block;
    font-size: 40px;
}
.hint {
    font-size: 20px;
    font-style: italic;
    color: rgb(168, 168, 168);
}

.post-category {
    font-size: 30px;
    background-color: rgb(1, 62, 86);
    color: antiquewhite;
    height: auto;
    width: 30%;
}

.post-content {
    font-size: 30px;
    background-color: rgb(1, 62, 86);
    color: antiquewhite;
    height: auto;
    width: 50%;
}

.post-select {

    background-color: rgb(1, 62, 86);
    color: antiquewhite;
    height: auto;
    width: auto;
    line-height: 40px;
        font-size: 30px;
}