<div *ngIf="isAuthencticated" class="controls">
    <a routerLink="/post/edit/{{post?._id}}" *ngIf="isOwner" class="button-item edit-button">Edit</a>
    <a (click)="deletePost()" *ngIf="isOwner" class="button-item delete-button">Delete</a>
    
</div>

<div class="content">
    <div class="error-text">{{error}}</div>
    <div class="post-header">
        <h1 class="title">{{post?.title}}</h1>
        <div class="category">Created by: <b>{{post?.ownerName}}</b> on {{post?.createdOn | date : 'd/M/yy, h:mm a'}}</div>
        <div class="category">{{post?.category?.value}}  </div>
    </div>
    <div class="post-content">
        {{post?.content}}
    </div>

    
    <div *ngIf="isAuthencticated && !isOwner && !post?.hasLiked" class="controls">
        <a (click)="likePost()" class="button-item like-button">Like ({{post?.likes}})</a>
    </div>
    <div *ngIf="isAuthencticated && !isOwner && post?.hasLiked" class="controls">
        <a (click)="unLikePost()" class="button-item unLike-button">Unlike ({{post?.likes}})</a>
    </div>

</div>