<form class="form">
    <p style="align-self: center;">Create post!</p>
    <p *ngIf="error != ''" class="error-text">{{error}}</p>

    <label for="title" class="form-label">Title</label>
    <div class="form-item ">
        <input type="text" name="title" class="form-input" required #titleElement [formControl]="titleControl">
    </div>
    <div class="form-item" *ngIf="titleControl.touched && titleElement.value.length < 5 && titleElement.value.length > 30">
        <span class="error-text">Title is required with a minimum length of 5 letters and a maximum of 30!</span>
    </div>

    <label for="preview" class="form-label">Preview</label>
    <div class="form-item ">
        <input type="text" name="preview" class="form-input" #previewElement [formControl]="previewControl">
    </div>
    <div class="form-item" *ngIf="previewControl.touched && previewElement.value.length > 30">
        <span class="error-text">Preview must be at most 30 letters long!</span>
    </div>

    <label for="content" class="form-label">Content</label>
    <div class="form-item ">
        <textarea name="content" class="form-input" required #contentElement [formControl]="contentControl"></textarea>
    </div>
    <div class="form-item" *ngIf="contentControl.touched && contentElement.value.length < 10">
        <span class="error-text">Content is required with a minimum length of 10 symbols!</span>
    </div>

    <label for="category" class="form-label">Category</label>
    <div class="form-item ">
        <!-- TODO: MAKE OPTIONS -->
        <!-- <textarea name="category" class="form-input" required #categotyElement [formControl]="categoryControl"></textarea> -->
        <select name="category" id="" required #categotyElement [formControl]="categoryControl">
            <option value="someid">some value</option>
        </select>
    </div>
    <div class="form-item" *ngIf="categoryControl.touched">
        <span class="error-text">Category is required!</span>
    </div>

    <div class="form-item">
        <button (click)="createPost($event)" class="button-item">Submit</button>
    </div>
</form>