<form class="form" [formGroup]="postForm" (ngSubmit)="createPost()">
    <p style="align-self: center;">Create post!</p>
    <p *ngIf="error != ''" class="error-text">{{error}}</p>

    <label for="title" class="form-label">Title</label>
    <div class="form-item ">
        <input type="text" name="title" class="form-input" formControlName="title">
    </div>
    <app-input-error-tooltip 
        [shouldShow]="postForm.get('title')?.touched && !this.postForm.get('title')?.valid"
        [error]="'Title is required with a minimum length of 5 letters and a maximum of 30!'"
    ></app-input-error-tooltip>

    <label for="preview" class="form-label">Preview</label>
    <div class="hint">This will be shown to users when on the home and browse screens</div>
    <div class="form-item">
        <input type="text" name="preview" class="form-input"  formControlName="preview">
    </div>
    <app-input-error-tooltip 
        [shouldShow]="postForm.get('preview')?.touched && !this.postForm.get('preview')?.valid"
        [error]="'Preview must be at most 30 letters long!'"
    ></app-input-error-tooltip>

    <label for="category" class="form-label">Category</label>
    <!-- <div class="hint">Don't see your category? <a href="catalog/create">Make one</a></div>  could be used for suggestion system after-->
    <div class="form-item ">
        <select name="category" class="post-category" formControlName="category">
            <option class="post-select" [value]="category._id" *ngFor="let category of categories">{{category.value}}</option>
        </select>
    </div>
    <app-input-error-tooltip 
        [shouldShow]="postForm.get('category')?.touched && !this.postForm.get('category')?.valid"
        [error]="'Category is required!'"
    ></app-input-error-tooltip>


    <label for="content" class="form-label">Content</label>
    <div class="form-item ">
        <textarea 
            name="content"
            rows="15"
            cols="50"
            class="form-input post-category"
            formControlName="content"></textarea>
    </div>
    <app-input-error-tooltip 
        [shouldShow]="postForm.get('content')?.touched && !this.postForm.get('content')?.valid"
        [error]="'Content is required with a minimum length of 10 symbols!'"
    ></app-input-error-tooltip>


    <div class="form-item">
        <button class="button-item" [disabled]="!this.postForm.valid">Submit</button>
    </div>
</form>