    <nav class="navigation" id="header">
        <ul class="nav-container">
          <li class="nav-home nav-li-item">
            <a class="nav-item button-item" routerLink="/">Barnacle Blog</a>
          </li>
          <li class="nav-li-item" *ngIf="!isAuthenticated">
            <a class="nav-item button-item" routerLink="/login">Login</a>
          </li>
          <li class="nav-li-item" *ngIf="!isAuthenticated">
            <a class="nav-item button-item" routerLink="/register">Register</a>
          </li>
          <li class="nav-li-item" *ngIf="isAuthenticated">
            <a class="nav-item button-item" routerLink="/catalog">All Blogs</a>
          </li>
          <li class="nav-li-item" *ngIf="isAuthenticated">
            <a class="nav-item button-item" routerLink="/post/create">Create Post</a>
          </li>
          <li class="nav-li-item" *ngIf="isAuthenticated">
            <a class="nav-item button-item logout" (click)="logOut()">Logout</a>
          </li>
        </ul>
      </nav>