// /* You can add global styles to this file, and also import other style files */
html,
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    top: 0;
    font-size: 32px;
    color: antiquewhite;

    background-color: rgb(49, 49, 49);
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

input {
    background-color: rgb(1, 62, 86);
    color: antiquewhite;
    font-size: 40px;
    height: auto;
    width: auto;
    line-height: 40px;
}

textarea {
    background-color: rgb(1, 62, 86);
    color: antiquewhite;
    font-size: 30px;
    height: auto;
    width: 100%;
    line-height: 40px;
}


button{
    font-size: 40px;
    background-color: rgb(2, 98, 137);
    height: 65px;
    width: 150px;
    color: white;
    border: 2px;
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(1, 62, 86);
}

button:disabled{
    opacity: 0.3;
}

.all-content {
    display: flex;
    flex-direction: column;
    min-height: 10%; // this is the only one that works with height, others work with width bcs flex column
    width: 100%;
    justify-content: space-between;
}

.button-item {
    padding-left: 0.3em;
    padding-right: 0.3em;
    border: solid;
    border: 1px;
    border-style: solid;
    border-radius: 1rem;
    // margin: 2px;
}

.button-item:hover {
    color: rgb(72, 72, 255);
    background-color: rgb(0, 0, 0);
    border: 1px;
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(0, 0, 0);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-items: center;
    justify-content: center;
} 

.host-element {
    width: 100%;
}