<div class="content">
    <div class="most-recent-wrapper">
        <h2>Recent Posts</h2>
        <div class="most-recent">
            <div class="post-card"  *ngFor="let post of recentPosts">
                <a routerLink="/post/details/{{post._id}}">
                    <h5 class="post-title" title="{{post.title}}">
                        <i>{{post.title}}</i>
                    </h5>
                    <div class="post-content"> {{post.preview}}</div>
                    <div class="post-footer">
                        <div class="post-category">
                            {{post.category.value}}
                        </div>
                        <div>
                            Likes: {{post.likes}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="most-popular-wrapper">
        <h2>Most Popular</h2>
        <div class="most-popular">
            <div class="post-card" *ngFor="let post of popularPosts">
                <a routerLink="post/details/{{post._id}}">
                    <h5 class="post-title" title="{{post.title}}">
                        <i>{{post.title}}</i>
                    </h5>
                    <div class="post-content"> {{post.preview}}</div>
                    <div class="post-footer">
                        <div class="post-category">
                            <i>{{post.category.value}}</i>
                        </div>
                        <div>
                            Likes: {{post.likes}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>