<a href="{{postLink}}">
    <div class="post-card">
        <header class="card-header">
            <div class="category"> {{category}}</div>
            <div class="title"> {{title}} </div>
        </header>
        <div class="content">
            Description Showcase (could be the first 50 characters/ words from the post) 
            <br/>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus voluptatum eius, at exercitationem maiores perspiciatis libero culpa architecto odio.
        </div>
        <footer>
            <div class="user-details">Created by: {{username}}</div>

        </footer>
    </div>
</a>