<a routerLink="{{postLink}}">
    <div class="post-card">
        <header class="card-header">
            <div class="category"> {{category}}</div>
            <div class="title"> {{title}} </div>
        </header>
        <div class="content">
            {{preview}}
        </div>
        <footer class="card-footer">
            <div class="user-details"> <span *ngIf="username != null">Created by: {{username}}, on </span> {{createdOn | date : 'd/M/yy, h:mm a'}}</div>
            <div class="likes">Likes: {{likes}}</div>
        </footer>
    </div>
</a>