<a routerLink="{{postLink}}">
    <div class="post-card">
        <header class="card-header">
            <div class="category"> {{category}}</div>
            <div class="title"> {{title}} </div>
        </header>
        <div class="content">
            {{preview}}
            <!-- Description Showcase (could be the first 50 characters/ words from the post) 
            <br/>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore minus voluptatum eius, at exercitationem maiores perspiciatis libero culpa architecto odio. -->
        </div>
        <footer class="card-footer">
            <div class="user-details">Created by: {{username}}</div>
            <div class="likes">(thumbs up) {{likes}}</div>
        </footer>
    </div>
</a>